img.loader-img{
    width: 50px;
    height: auto;
  }

  .navbar { background-color: #6d2888;}
/* .navbar-default .dropdown-menu {background-color: #6d2888;}
 .irs-from, .irs-to, .irs-single {background: #465d02;}
 .irs-bar { border-top: 1px solid #465d02;
              border-bottom: 1px solid #465d02;
              background: #465d02; } */